
html {
      background:  #00001a;
}

body {
      display: flex;
      justify-content: center;
      align-items: center;
}


.options {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
}

#sound {
      margin-left: 20px;
      height: auto;
      width: 60px;
      border: 2px solid white;
      border-radius: 10px;
      display: flex;
      color: white;
      background: rgb(112, 140, 157);
      align-items: center;
      justify-content: center;
      font-weight: bold;
      padding: 5px 5px;
     
}

#sound:hover {
      background: rgb(21, 98, 123);
}

.options {
      padding-top: 20px;
      margin-top: 40px;
}

.anchor {
      position: fixed;
      top: 20px;
      right: 20px;
}