
html {
      background:  #00001a;
}

body {
      display: flex;
      justify-content: center;
      align-items: center;
}


.options {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
}

#sound {
      margin-left: 20px;
      height: 30px;
      width: 40px;
      border: 2px solid white;
      border-radius: 10px;
      display: flex;
      color: white;
      background: gray;
      align-items: center;
      justify-content: center;
}

#sound:hover {
      background: rgb(21, 98, 123);
}

#icon {
      width: 20px;
      height: auto;
}

.options {
      padding-top: 20px;
      margin-top: 40px;
}